<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
</HEAD>
<body>
<form method="post" action="/board/delete">
    <tr>
    <td><input type="text" name="deleteNOW" placeholder="삭제를 원하신다면 '지금삭제'를 입력하세요."></td>
    <td><input type="submit" value="확인"></td>
    </tr>
    <input type="hidden" name="num" value="<%=rows.num%>">
</form>
<script>

</script>
</body>
</html>