<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
</HEAD>
<body>

    <tr>
        <td><input id="deleteNOW" size="100" type="text" name="deleteNOW" placeholder="삭제를 원하신다면 '지금삭제'를 입력하세요." /></td>
        <td><button id="delete_btn">확인</button></td>
    </tr>
    <input type="hidden" id="num" name="num" value="<%=rows.num%>" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(function (){

        $("#delete_btn").off("click").on("click", function () {
            if($("#deleteNOW").val()!=="지금삭제"){
                alert("다시 입력하세요.");
                return;
            }
            $.ajax({

                url: "/board/delete",
                type: "post",
                dataType: "json",
                data: {
                    num : $('#num').val()
                },
                async: true,

                success: function (result) {
                    alert("본문 삭제 성공");
                    location.href = "/board/list";
                }
            });
        })
    })

</script>
</body>
</html>