<!doctype html>
<html>
<HEAD>
    <meta charset="UTF-8">
    <title>미니 프로젝트</title>
<BODY>
<h1><strong>WELCOME! <%=writer%></strong></h1>
<button onclick="location.href='/board/list'">확인</button>
</BODY>
</html>

