<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

     <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                 <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<div class="writeWrap">
    <table>
        <tr>
            <td>제목</td><td><input type="text" name="subject" id="subject" /></td>
        </tr>
        <tr>
            <td>글쓴이</td> <td><input type="text" name="writer" id="writer" /></td>
        </tr>
        <tr>
            <td>내용</td><td><textarea cols="23" rows="15" name="write_content" id="write_content"></textarea></td>
        </tr>
        <tr>
            <td><input type="hidden" id="num" value="<%=number%>" /></td>
            <td><button id="add_btn">입력</button></td>
        </tr>
    </table>
<button onclick="location.href='/board/list'">돌아가기</button>
</div>
</BODY>
<footer>
<script>

    $(function (){

        const num = parseInt(`<%=number%>`)+1;

        $("#add_btn").off("click").on("click", function () {

            $.ajax({

                url: "/board/write",
                type: "post",
                dataType: "json",
                data: {
                    subject : $("#subject").val(),
                    writer : $("#writer").val(),
                    write_content : $("#write_content").val()
                },
                async : true,

                success: function (res) {
                    alert("본문 작성 성공");
                    location.href="/board/read?num="+num;
                },

                error: function (xhr){
                    alert("본문 작성 실패");
                    location.href="/board/write";
                }
            })
        })
    })

</script>
</footer>
</html>